* {
    font-family: Arial;
    font-size: 12pt;
   }
   .chat {
    width: 400px;
    height: 90%;
    overflow: scroll;
    border-style: groove;
   }
   .actions {
    position: fixed;
    bottom: 0;
    display: block;
    width: 400px;
    border-style: groove;
   }
   .actions input{
    height: 30px;
    display: block;
    width: 100%;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
   }
   .messages div {
    max-width: 60%;
    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
   }
   .messages .bot {
    text-align: left;
    margin-right: auto;
    background: #001f3f;
    color: white;
   }
   .messages .human {
    text-align: right;
    margin-left: auto;
    background: #DDD
   }
   
   
   